/* ---------------------------- jQuery --------------------------------------------- */
.treemenu li { list-style: none; }

.treemenu .toggler {
    cursor: pointer;
}

.treemenu .toggler:before {
    display: inline-block;
    margin-right: 2pt;
}

li.tree-empty > .toggler { color: #aaa; }
li.tree-empty > .toggler:before { content: "\2212"; }
li.tree-closed > .toggler:before { content: "+"; }
li.tree-opened > .toggler:before { content: "\2212"; }

/* ---------------------------- 目录树 --------------------------------------------- */

.sidebar-catalog {
  position: absolute;
  top: 0;
  /* left: -239px; */
  left: 0;
  width: 226px;
  height: 100%;
  padding: 6px;
  border: 1px dashed rgba(105, 162, 208, 1.0);
  background: rgba(52, 55, 66, 1.0);
  box-shadow: 2px 2px 10px rgba(0,0,0, .3); 
}

/* //--------------------------------------- */
.tree {  
	color:rgba(105, 162, 208, 1.0);
	width:226px;
}
.tree li,
.tree li > a,
.tree li > span {
    padding: 4pt;
    border-radius: 4px;
}

.tree li a {
   color: rgba(105, 162, 208, 1.0);
    text-decoration: none;
    line-height: 20pt;
    border-radius: 4px;
}

.tree li a:hover {
    background-color: rgba(105, 162, 208, .5);
    color: #fff;
}

.active {
    background-color: #34495E;
    color: white;
}

.active a {
    color: #fff;
}

.tree li a.active:hover {
    background-color: rgba(105, 162, 208, 1.0);
}